<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_homework.student_id %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @student_homework.homework_id %>
</p>

<%= link_to 'Edit', edit_student_homework_path(@student_homework) %> |
<%= link_to 'Back', student_homeworks_path %>
