<div class="page-title">
  <div class="title_left">
    <h3>
      <%= @homework.title %> <small><%= @homework.question %></small>
    </h3>
  </div>
</div>

<p id="notice"><%= notice %></p>


<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

      <div class="x_content">

        <table id="latest_answer_table" class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Latest Answer</th>
            </tr>
          </thead>
          <tbody>
            <% @answers.each do |answer| %>
              <tr>
              	<td><%= answer.student.username %></td>
                <td><%= answer.answer %></td>
              </tr>
            <% end %>

          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
<div class="actionBar">
  <%= link_to 'Back', homeworks_path, :class => "btn btn-default" %>
</div>